body {
    width: 1000px;
    margin: 0 auto; 
}

header {
    background-color: rgb(166, 135, 184);
    text-align: center; border: groove rgb(3, 3, 3) 15px
}

main {
    background-color: rgb(171, 161, 180);
}

section {
    border: groove rgb(0, 0, 0) 15px;
    padding: 25px
}

